@mixin flex-starter {
    display: flex;

}

@mixin list-global {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@mixin button {
    font-family: monospace;
    font-family: 'Livvic';
    margin-left: -365px;
    margin-right: 165px;
    padding: 10px 33px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    color: #FFFFFF;
}


@mixin btn {
    font-family: monospace;
    font-family: 'Livvic';
    padding: 12px 40px 30px 39px;
    margin-left: 250px;
    margin-bottom: 92px;
    margin-top: 49px;
    background-color: transparent;
    border: 2px solid $sacramento-state-green;
    border-radius: 24px;
    color: $sacramento-state-green;
}